.header__logo {
	height: 6rem;
	padding: 1.5rem 0.5rem 0 ;
	transition: .2s;
	margin: 0;
}

.header__logo:hover {
	cursor: pointer;
	transform: scale(1.5);
	

}

@media screen and (min-width: 1024px) and (orientation: landscape) {
	.header__logo {
		height: 8rem;
		padding: 2rem 0.5rem 2rem 2rem;
	}
}