.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	padding: 1rem;
	grid-area: header;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
	.header {
		justify-content: flex-start;
	}
}
