.footer__links {
	display: flex;
	list-style-type: none
}

@media screen and (min-width: 1024px) and (orientation: landscape) {

	.footer__links {
		display: flex;
		width: 40%;
		justify-content: space-between;
	}
}